<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbone Sinatra App</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script src="/js/boostrap.min.js"></script>
  </body>
</html>